<%
  # BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
  # Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
  # This program is free software; you can redistribute it and/or modify it under the
  # terms of the GNU Lesser General Public License as published by the Free Software
  # Foundation; either version 3.0 of the License, or (at your option) any later
  # version.
  #
  # BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
  # WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
  # PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
  # You should have received a copy of the GNU Lesser General Public License along
  # with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>
<div class="row mb-4">
  <div class="col-sm-3">
    <%= button_to stop_service_company_path(company_uid: @company.uid), data: { confirm: t("modal.stop_service_company.confirm") }, method: :post, class: "btn btn-warning mb-5", "data-disable": "" do %>
      <i class="fas fa-stop"></i> <%= t("administrator.companies.table.stop_service") %>
    <% end %>
  </div>
  <div class="col-sm-3">
    <%= button_to start_service_company_path(company_uid: @company.uid), data: { confirm: t("modal.start_service_company.confirm") }, method: :post, class: "btn btn-success mb-5", "data-disable": "" do %>
      <i class="fas fa-play"></i> <%= t("administrator.companies.table.start_service") %>
    <% end %>
  </div>
</div>

<%= form_for @company, url: update_company_path, method: :post do |f|  %>
  <%= hidden_field_tag :setting, "account" %>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-12 mb-4">
        <%= f.label :name, t("administrator.companies.add.name"), class: "form-label" %>
        <div class="input-icon">
          <%= f.text_field :name, class: "form-control", placeholder: t("administrator.companies.add.name") %>
        </div>
      </div>

      <div class="col-sm-12 mb-4">
        <%= f.label :description, t("administrator.companies.add.description"), class: "form-label" %>
        <div class="input-icon">
          <%= f.text_area :description, class: "form-control", placeholder: t("administrator.companies.add.description") %>
        </div>
      </div>
      <div class="col-sm-12 mb-4">
        <%= f.label :image, t("administrator.companies.add.image"), class: "form-label" %>
        <div class="input-icon">
          <%= f.text_field :image, class: "form-control", placeholder: t("administrator.companies.add.image_url") %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= f.submit t("update"), class: "btn btn-primary float-right ml-4" %>
  </div>
<% end %>
