<%
  # BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
  # Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
  # This program is free software; you can redistribute it and/or modify it under the
  # terms of the GNU Lesser General Public License as published by the Free Software
  # Foundation; either version 3.0 of the License, or (at your option) any later
  # version.
  #
  # BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
  # WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
  # PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
  # You should have received a copy of the GNU Lesser General Public License along
  # with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<h4>List User of Company</h4>
<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-hover table-outline table-vcenter card-table">
        <thead>
        <tr>
          <th data-header="name" data-order="<%= @order_column == "name" ? @order_direction : "none" %>">
            <%= t("administrator.users.table.name") %>
            <% if @order_column == "name" && @order_direction == "desc" %>
              ↓
            <% elsif @order_column == "name" && @order_direction == "asc" %>
              ↑
            <% end %>
          </th>
          <th data-header="email" data-order="<%= @order_column == "email" ? @order_direction : "none" %>">
            <%= t("administrator.users.table.username") %>
            <% if @order_column == "email" && @order_direction == "desc" %>
              ↓
            <% elsif @order_column == "email" && @order_direction == "asc" %>
              ↑
            <% end %>
          </th>
          <th class="text-left" data-header="provider" data-order="<%= @order_column == "provider" ? @order_direction : "none" %>">
            <%= t("administrator.users.table.authenticator") %>
            <% if @order_column == "provider" && @order_direction == "desc" %>
              ↓
            <% elsif @order_column == "provider" && @order_direction == "asc" %>
              ↑
            <% end %>
          </th>
          <th class="text-center">
            <%= t("administrator.users.table.role") %>
          </th>
          <th class="text-center">
          </th>
        </tr>
        </thead>
        <tbody id="users-table">
        <tr id="no_users_found" style="display: none;">
          <td colspan="7" class="text-center h4 p-6 font-weight-normal" >
            <%= t("administrator.users.table.not_found") %>
          </td>
        </tr>
        <% if @users %>
          <% @users.each do |user| %>
            <% if user != current_user %>
              <tr data-user-uid="<%= user.uid %>">
                <td>
                  <div><%= user.name %></div>
                  <div class="small text-muted"><%= [t("administrator.users.table.created"), ": ", user.created_at].join %></div>
                </td>
                <td class="user-email"><%= user.email && user.email != "" ? user.email : user.username%></td>
                <td><%= user.provider %></td>
                <td class="text-center">
                  <%= render "admins/components/admins_role", role: user.role %>
                </td>
                <td>
                  <% if !user.has_role?("super_admin") %>
                    <%= button_to remove_company_user_path(company_id: @company.id), params: {user_id: user.id}, data: { confirm: t("modal.remove_company_user.confirm") }, method: :post, class: "btn btn-warning", "data-disable": "" do %>
                      <i class="dropdown-icon fas fa-trash-alt"></i> <%= t("administrator.users.table.remove_company_user") %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% else %>
          <tr>
            <td colspan="7" class="text-center h4 p-6 font-weight-normal" >
              <%= t("administrator.users.table.no_users") %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="float-md-right mt-4">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
  </div>
</div>

<h4>List User Of No Company</h4>
<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-hover table-outline table-vcenter card-table">
        <thead>
        <tr>
          <th data-header="name" data-order="<%= @order_column == "name" ? @order_direction : "none" %>">
            <%= t("administrator.users.table.name") %>
            <% if @order_column == "name" && @order_direction == "desc" %>
              ↓
            <% elsif @order_column == "name" && @order_direction == "asc" %>
              ↑
            <% end %>
          </th>
          <th data-header="email" data-order="<%= @order_column == "email" ? @order_direction : "none" %>">
            <%= t("administrator.users.table.username") %>
            <% if @order_column == "email" && @order_direction == "desc" %>
              ↓
            <% elsif @order_column == "email" && @order_direction == "asc" %>
              ↑
            <% end %>
          </th>
          <th class="text-left" data-header="provider" data-order="<%= @order_column == "provider" ? @order_direction : "none" %>">
            <%= t("administrator.users.table.authenticator") %>
            <% if @order_column == "provider" && @order_direction == "desc" %>
              ↓
            <% elsif @order_column == "provider" && @order_direction == "asc" %>
              ↑
            <% end %>
          </th>
          <th class="text-center">
            <%= t("administrator.users.table.role") %>
          </th>
          <th class="text-center">
          </th>
        </tr>
        </thead>
        <tbody id="users-table">
        <tr id="no_users_found" style="display: none;">
          <td colspan="7" class="text-center h4 p-6 font-weight-normal" >
            <%= t("administrator.users.table.not_found") %>
          </td>
        </tr>
        <% if @users1 %>
          <% @users1.each do |user| %>
            <% if user != current_user %>
              <tr data-user-uid="<%= user.uid %>">
                <td>
                  <div><%= user.name %></div>
                  <div class="small text-muted"><%= [t("administrator.users.table.created"), ": ", user.created_at].join %></div>
                </td>
                <td class="user-email"><%= user.email && user.email != "" ? user.email : user.username%></td>
                <td><%= user.provider %></td>
                <td class="text-center">
                  <%= render "admins/components/admins_role", role: user.role %>
                </td>
                <td>
                  <% if !user.has_role?("super_admin") %>
                    <%= button_to add_company_user_path(company_id: @company.id), params: {user_id: user.id}, data: { confirm: t("modal.add_company_user.confirm") }, method: :post, class: "btn btn-primary", "data-disable": "" do %>
                      <i class="dropdown-icon fas fa-plus-circle"></i><%= t("administrator.users.table.add_company_user") %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% else %>
          <tr>
            <td colspan="7" class="text-center h4 p-6 font-weight-normal" >
              <%= t("administrator.users.table.no_users") %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

